

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", serif;
    font-style: normal;
}



.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.calculadora {
    background-color: black; 
    max-width:350px;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: 17px;

}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #aa3d3d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}


.resultado {
    font-size: 17px;
    width: 100%;
    text-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 5px;
}